// the font mixin
// assuming you use a autoprefixer. (No? Why not?).
// webfont goto guide: https://github.com/grillitype/web-fonts-guide

@mixin fontSize($sizeValue: 1, $lhValue: 1, $lsValue: 0, $wsValue: 0) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: $lhValue;
  font-feature-settings:"kern" 1;
  letter-spacing: $lsValue + em;
  word-spacing: $wsValue + em;
  -webkit-font-smoothing: antialiased; //for osx
  -moz-osx-font-smoothing: grayscale; // for osx
}

// the extends
// If you need more than six font sizes, you're doing it wrong!

%fontXXL {
  @include fontSize(2.5,1.2);
  // use with gugus-media-queries
  // @include smUp { @include fontSize(3.5,1.2); }
}
%fontXL {
  @include fontSize(1.7,1.2);
}
%fontL {
  @include fontSize(1.6,1.2);
}
%fontM {
  @include fontSize(0.9,1.35);
}
%fontS {
  @include fontSize(0.8,1.2);
}
%fontXS {
  @include fontSize(0.7,1.2);
}
