

@mixin fontSize($sizeValue: 1, $lhValue: 1, $lsValue: 0, $wsValue: 0) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: $lhValue;
  font-feature-settings:"kern" 1;
  letter-spacing: $lsValue + em;
  word-spacing: $wsValue + em;
  -webkit-font-smoothing: antialiased; //for osx
  -moz-osx-font-smoothing: grayscale; // for osx
  font-weight: normal;
  font-family: $MainFont;
}

%u-txt__xxl, .u-txt__xxl {
  @include fontSize(2.5,1.2);
  @include smUp { @include fontSize(4.5,1.3); }
  margin: 0;
}
%u-txt__xl, .u-txt__xl {
  @include fontSize(1.7,1.2);
  @include smUp { @include fontSize(1.8,1.2); }
  margin: 0;
}
%u-txt__l, .u-txt__l {
  @include fontSize(1.3,1.2);
  @include smUp { @include fontSize(1.6,1.4); }
}
%u-txt__m, .u-txt__m {
  @include fontSize(1.2,1.5);
  @include smUp { @include fontSize(1.1,1.6); }
}
%u-txt__s, .u-txt__s {
  @include fontSize(1,1.5);
}
%u-txt__xs, .u-txt__xs {
  @include fontSize(0.9,1.2);
}
